.side-bar
  .side-bar__user-name
    .user-name__top-item
      .user-name__top-item__user-name
        masa
      .user-name__top-item__icons
        = link_to "#" do
          = icon('fas', 'edit', class:'edit-icon')
        = link_to "#" do
          = icon('fas', 'cog', class:'setting-icon')
  .side-bar__group-list
    .group-list__group-title
      .group-list__group-title__group-name
        techcamp
      .group-list__group-title__group-message
        まだメッセージがありません
    .group-list__group-title
      .group-list__group-title__group-name
        techcamp
      .group-list__group-title__group-message
        まだメッセージがありません